@CHARSET "UTF-8";





/***菜单栏***/

.menu-min .navcustom{display:none}

.menu-min .sidebar-shortcuts{display:none}

.sidebar.menu-min + .main-content .tab-fixed{

	left: 73px !important;

 }

 .sidebar + .main-content .tab-fixed {

 	left: 250px !important;

 }

.menu-min .sidebar-toggle.sidebar-collapse{

	left: 42px;

}

.no-skin .sidebar.menu-min .sidebar-toggle>.ace-icon{

	padding: 0;

}

.no-skin .sidebar-toggle>.ace-icon {

	color: #333;

	border: none;

	background-color:transparent;

	padding: 0;

	position: absolute;

    top: 50%;

    left: 0;

}

.sidebar .sidebar-toggle:before {

	border-top: none;

}

.no-skin .sidebar-toggle {

	position: fixed;

	top: 0;

	left: 220px;

	z-index: 999;

	width: 10px;

	height: 100%;

	line-height: 54px;

	border-top-right-radius: 5px;

	border-bottom-right-radius: 5px;

	background-color: #dde7eb;

}

 /***菜单栏结束***/

@font-face {font-family: "iconfont";

  src: url('../fonts/iconfont.eot?t=1467613738'); /* IE9*/

  src: url('../fonts/iconfont.eot?t=1467613738#iefix') format('embedded-opentype'), /* IE6-IE8 */

  url('../fonts/iconfont.woff?t=1467613738') format('woff'), /* chrome, firefox */

  url('../fonts/iconfont.ttf?t=1467613738') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/

  url('../fonts/iconfont.svg?t=1467613738#iconfont') format('svg'); /* iOS 4.1- */

}

/* 



@font-face {font-family: "iconfont";

  src: url('../fonts/iconfont.eot?t=1465975305'); IE9

  src: url('../fonts/iconfont.eot?t=1465975305#iefix') format('embedded-opentype'), IE6-IE8

  url('../fonts/iconfont.woff?t=1465975305') format('woff'), chrome, firefox

  url('../fonts/iconfont.ttf?t=1465975305') format('truetype'), chrome, firefox, opera, Safari, Android, iOS 4.2+

  url('../fonts/iconfont.svg?t=1465975305#iconfont') format('svg'); iOS 4.1-

} */



/* .animate-repeat .fa, */

.menu-calendar .fa,.btn-primary > .ace-icon,.btn-default > .fa , #bootomscrollMenu > li > a > .fa ,.icon-font,.widget-toolbar .fa,#navbar-container .navbar-header a small i{

  font-family:"iconfont" !important;

  font-size:20px !important;

  font-style:normal;

  -webkit-font-smoothing: antialiased;

  -webkit-text-stroke-width: 0.2px;

  -moz-osx-font-smoothing: grayscale;

  color: #de531a !important;

}

.widget-toolbar .fa-trash-o:before, .ui-userdata .fa-trash-o:before,.widget-toolbox .btn-default .fa-trash-o:before { content: "\e604"; }

.widget-toolbar .fa-plus:before, .ui-jqgrid .fa-plus:before,.widget-toolbox .btn-default .fa-plus:before { content: "\e601"; }

.widget-toolbar .fa-pencil:before, .ui-jqgrid .fa-pencil:before, .widget-toolbox .btn-default .fa-pencil:before { content: "\e602"; }

.widget-toolbar .fa-refresh:before, .ui-userdata .fa-refresh:before, .widget-toolbox .btn-default .fa-refresh:before { content: "\e600"; }

.widget-toolbar .fa-bars:before, .ui-jqgrid .fa-bars:before, .widget-toolbox .btn-default .fa-bars:before { content: "\e606"; }

.widget-toolbar .fa-check-circle-o:before, .ui-jqgrid .fa-check-circle-o:before, .widget-toolbox .btn-default .fa-check-circle-o:before { content: "\e605";}

.widget-toolbar .fa-check-circle:before, .ui-jqgrid .fa-check-circle:before,  .widget-toolbox .btn-default .fa-check-circle:before { content: "\e607";}

.widget-toolbox .btn-default .fa-reply-all:before { content: "\e612";}

.widget-toolbox .btn-default .fa-fire:before { content: "\e609";}

.ui-jqgrid .fa-arrow-circle-down:before, .widget-toolbox .btn-default .fa-arrow-circle-down:before { content: "\e608";}

.ui-jqgrid .fa-arrow-circle-up:before, .widget-toolbox .btn-default .fa-arrow-circle-up:before { content: "\e609";}

.ui-jqgrid .fa-envelope-o:before, .widget-toolbox .btn-default .fa-envelope-o:before { content: "\e63c";}

.ui-jqgrid .fa-envelope:before, .widget-toolbox .btn-default .fa-envelope:before { content: "\e63b";}

.widget-toolbox .btn-default .fa-cloud:before { content: "\e613";}

.widget-toolbox .btn-default .fa-align-justify:before { content: "\e614";}

.widget-toolbox .btn-default .fa-pencil-square-o:before { content: "\e61d";}

.widget-toolbox .btn-default .fa-comment-o:before { content: "\e621";}

.navcustom .fa-user:before, .widget-toolbox .btn-default .fa-user:before { content: "\e624";}

.navcustom .fa-space-shuttle:before,.widget-toolbox .btn-default .fa-space-shuttle:before { content: "\e622";}

.navcustom .fa-group:before,.widget-toolbox .btn-default .fa-group:before { content: "\e623";}

.navcustom .fa-truck:before,.widget-toolbox .btn-default .fa-truck:before { content: "\e61f";}

.fa-power-off:before { content: "\e626";}

.widget-toolbox .btn-default .fa-book:before { content: "\e61e";}

.widget-toolbox .btn-default .fa-print:before { content: "\e618";}

.widget-toolbox .btn-default .fa-suitcase:before { content: "\e61f";}

.widget-toolbox .btn-default .fa-dedent:before { content: "\e61d";}

.navcustom .fa-briefcase:before,.widget-toolbox .btn-default .fa-briefcase:before { content: "\e625";}

.widget-toolbox .btn-default .fa-bell:before { content: "\e61a";}

.widget-toolbox .btn-default .fa-adjust:before { content: "\e619";}

.widget-toolbox .btn-default .fa-cog:before { content: "\e620";}

.widget-toolbox .btn-default .fa-money:before { content: "\e636"; }

.widget-toolbox .btn-default .fa-bolt:before { content: "\e63a"; }

.fa-joomla:before {content: "\e628";}

.fa-close:before{content: "x";}



.fa-rss:before { content: "\e61c";}

.fa-rss-square:before { content: "\e61b";}

.widget-toolbox .btn-default .fa-search:before, .ui-jqgrid  .fa-search:before { content: "\e60b";}

.menu-calendar .fa-calendar:before { content: "\e629"; font-size: 40px; color: #fff !important;}

/* .animate-repeat .fa-times:before { content: "\e62b"; font-size: 14px; color: #00aff0 !important;} */

.widget-toolbar .fa-angle-down:before { content: "\e627"; }

.ui-userdata .fa-shield:before { content: "\e627"; }

.ui-userdata .fa-sitemap:before { content: "\e630"; }

.ui-userdata .fa-users:before { content: "\e62f"; }

.ui-userdata .fa-sort:before { content: "\e633"; }

.ui-userdata .fa-star:before { content: "\e630"; }

.ui-userdata .fa-coffee:before { content: "\e62f"; }

.ui-userdata .fa-key:before { content: "\e62c"; }

.ui-userdata .fa-info-circle:before { content: "\e62e"; }

.ui-userdata .fa-paste:before { content: "\e62d"; }

.ui-userdata .fa-file-code-o:before { content: "\e632"; }

.ui-userdata .fa-file-powerpoint-o:before { content: "\e634"; }

.ui-userdata .fa-book:before { content: "\e631"; }

.ui-userdata .fa-link:before { content: "\e623"; }

.widget-toolbar .fa-btc:before, .ui-jqgrid .fa-btc:before, .widget-toolbox .btn-default .fa-btc:before { content: "\e641";}



#navbar-container .navbar-header a small i {font-size: 40px !important;color: #fff !important;}

#navbar-container .navbar-header .navbar-brand {padding-top: 20px; padding-left:20px;}



.button-house > .btn > .ace-icon { float: left; margin-right: 8px;}

.button-house > .btn { line-height: 20px;}



.ui-jqgrid-btable .ui-widget-content.ui-priority-secondary { background: #f3fcff;}

.ui-jqgrid tr.jqgrow, .ui-jqgrid tr.ui-row-ltr, .ui-jqgrid tr.ui-row-rtl { background: #fff;}

.ui-jqgrid .ui-jqgrid-labels { background: #FFF !important; background-image: none; height:40px;}

.ui-jqgrid-sortable { color: #333333;} 

.ui-jqgrid .ui-jqgrid-labels th { /*border-right: none !important;*/ border:1px #cedce2 solid;}

.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td { border-bottom: none;}

.ui-jqgrid tr.ui-row-ltr td { border-right-style: none;}

.ui-jqgrid .ui-jqgrid-btable { border-right: 1px solid #e1e1e1;}



.ui-jqgrid-btable .ui-widget-content.ui-priority-secondary { background: #fff;}

.ui-jqgrid-btable .ui-widget-content.ui-state-hover{ background-image: none; background-color: #f3fcff; color: #000; opacity: 1;}

.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td { padding: 10px 4px;}



.ui-jqgrid .ui-jqgrid-labels th { text-align: center !important;}

.ui-jqgrid tr.ui-row-ltr td { text-align: center !important;}

.widget-main.no-padding .table {border-width: 1px;}

/* .ui-jqgrid-sortable:hover {color: #fff;} */



.widget-toolbar .btn-success,.widget-toolbar .btn-warning { padding: 0 15px; font-size: 16px; line-height: 30px; text-shadow: none !important;  background: #de531a !important;border-radius: 4px;}

.widget-toolbar .btn-success:hover,.widget-toolbar .btn-warning:hover { background: #ab3200 !important;}

/* 2016-06-21 */



/*.nav-tabs { margin-left: 15px;}



.nav-tabs > li > a { color: #fff; border: 1px solid #ffcab4; background-color: #00aff0;}

.nav-tabs > li.active > a { color: #00aff0; border: 1px solid #00aff0; border-bottom: 1px solid transparent;}

.nav-tabs { margin-left: 15px; border-color: #00aff0;}

.nav-tabs > li.active > a ,.nav-tabs > li.active > a:hover{ font-family: "黑体"; font-size: 16px; color: #00aff0; line-height: 25px;  border: 1px solid #00aff0; border-bottom: 1px solid transparent;}

*/



.nav-tabs > li > a:focus { color: #000; background-color: #fff;}









@media (min-width: 992px) {

 .tab-fixed { background-color: #f9fcfe;}

}





.widget-toolbox { margin-left: 15px;}

.nav-tabs > li { margin-right: 4px;}

.nav-tabs > li > a { font-family: "黑体"; font-size: 14px; color: #000; line-height: 25px; border: 1px solid #cedce2; /*border-radius: 5px 5px 0px 0px !important;*/  background-color: #00aff0;}



.nav-tabs > li > a:hover { color: #000; border: 1px solid #cedce2; background-color: #fff;}



.nav-tabs { padding-top: 10px; margin-left: -15px; border-color: #cedce2;}

.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover ,.nav-tabs > li.active > a:focus{ font-family: "黑体"; font-size: 14px; color: #666; line-height: 25px; border: 1px solid #cedce2; border-bottom: 1px solid transparent; box-shadow: none; /*border-radius: 5px 5px 0px 0px !important;*/ background:#cedce2;  }





.tab-content > .tab-pane { /* border: 1px solid #cedce2; */border-top: none;}

.tab-content { margin-left: 15px;}

/*624*/



.widget-toolbox { background: #fff;}



.widget-toolbox .btn-default { color: #3a4041 !important; text-shadow: none !important; background: #f9fcfe  !important; line-height: 20px;}



.widget-toolbox .btn-default i { float: left; margin-right: 6px;}



.widget-toolbox:first-child { padding: 10px 0; border-bottom: none;}



.condition_div { padding: 0;}



.condition_div .col-sm-12 { padding: 0;}



.condition_div .search_div { padding: 8px 0; text-align: right;}







.condition_div .search_div .btn-sm:hover { background: #ab3200 !important;}







.condition_div .condition_box { padding: 10px; border: 1px solid #e2e5ec; background: #fff;}



.condition_div .condition_box .col-sm-6 { padding: 0;}



.c2-button.btn.btn-warning.btn-sm.no-border{background-color: #c6c6c6 !important;}

.condition_div .search_div .btn-sm {     width: 120px;

    height: 32px; padding: 0; font-size: 16px; color: #fff; text-align: center; line-height: 30px; text-shadow: none !important; background: #de531a !important ; margin-left: 8px;}



#bootomscrollMenu {font-size:14px; margin-left:210px; }

#bootomscrollMenu li a { display: block; color:#fff; padding:28px 25px 0 25px; height:80px; box-sizing:border-box;}

#bootomscrollMenu > li{ cursor: pointer;}

#bootomscrollMenu > li:hover {background-color: #172a47;color: #fff;}

#bootomscrollMenu > li.active a {color:#de531a;}









#bootomscrollMenu li a .menu-icon { float: left; margin-top: 10px; margin-right: 12px; color: #a3daeb ! important;}

.ace-nav>li>a { color: #a0a7af !important; background: none;}

.custsubmenu li a { padding-left: 40px;}

.footer .footer-inner .footer-content { height:70px; line-height:70px; font-size: 12px; color: #666666; background: #FFF;}

.footer .footer-inner .footer-content .bigger-120 .bolder { font-weight: normal;}

.ace-nav>li>a { color: #a0a7af !important; background: none;}

.paddingLeft { padding-left: 0;}





/*sso*/



.navcustom { position: fixed; bottom: 0; left: 0; z-index: 999; width: 224px; margin: 0; background:  #232b2d;}

.navcustom ul { max-height: 160px; margin: 0;}

.navcustom .bootomscrollMenu { max-height: 220px; margin: 0;}

#scrollMenu{ max-height: 300px; margin: 0;}

.navcustom ul li { cursor: pointer; list-style-type: none; padding-left: 40px; font-size: 16px; line-height: 40px}

.navcustom ul li:hover { background: #2d373a;}

.navcustom ul li a { color: #a3daeb;}

.navcustom ul li a:hover { color: #fff; text-decoration: none;}

.navcustom .menucustom { height: 8px; background: #2d373a url(../img/dot.png) no-repeat center;}

.navcustom ul .menuactive { background: #2d373a;}

.navcustom ul .menuactive a { color: #fff; text-decoration: none;}





.navbar {

    height: 80px;

    background: #0f2341;

}

.navbar-fixed-top+.main-container {

    padding-top: 80px;

	background:#f9fcfe;

}

.navbar-brand {

    line-height: inherit;

}

.sidebar {

    width: 220px;

}

.main-content {

    margin-left: 220px;

}

.no-skin .sidebar-shortcuts {

    background-color: #de531a;

}

.sidebar .sidebar-shortcuts {

    height: 80px;

}

.no-skin .sidebar {

    background-color: #f4f8f9;

	border:none;

}

.nav-list>li>a{

	padding-left: 42px;

}

.no-skin .nav-list>li{

	border: none;

}

.no-skin .nav-list>li>a {

    line-height: 30px;

    vertical-align: middle;

    background-color: #232b2d;

    color: #a3daeb;

    font-size: 16px;

}

.no-skin .nav-list>li:hover>a , .no-skin .nav-list>li.open>a , .no-skin .nav-list>li.active>a, .no-skin .nav-list>li.active>a:hover, .no-skin .nav-list>li.active>a:focus{

    background-color: #232B2D;

}

.no-skin .nav-list>li:hover>a span {

    color: #000;

}

.no-skin .nav-list>li:hover>a i.menu-icon {

    color: #de531a;

}

.no-skin .nav-list>li.active>a, .no-skin .nav-list>li.active>a:hover, .no-skin .nav-list>li.active>a span

{

    color: #000;

    font-weight: 100;

}

.no-skin .nav-list>li.active>a, .no-skin .nav-list>li.active>a:hover, .no-skin .nav-list>li.active>a i.menu-icon {

    color: #de531a;

}

.no-skin .nav-list>li.active:after , .no-skin .nav-list li.active>a:after{

    border: none;

}

.nav-list>li:before {

    background-color: #DE531A;

}

.no-skin .nav-list>li>.submenu .open>a, .no-skin .nav-list>li>.submenu .open>a:hover, .no-skin .nav-list>li>.submenu .open>a:focus {

    border-color: #e4e4e4;

	color:#de531a;

}

.nav-list>li>.submenu {

    border: none;

}

.no-skin .nav-list>li.open>a {

    background-color: #181E20;

}

.no-skin .nav-list .open>a, .no-skin .nav-list .open>a:hover, .no-skin .nav-list .open>a:focus {

    background-color: #181E20;

}

.nav-list>li:before {

    content: none;

}

.no-skin .nav-list>li.open>a span{

    color: #fff;

}

.no-skin .nav-list>li.open>a i.menu-icon{

	color: #de531a;

}

.no-skin .nav-list>li .submenu>li>a {

	border: none;

    background-color: #f4f8f9;

    color: #000;

}

.no-skin .nav-list>li>.submenu:before, .no-skin .nav-list>li>.submenu>li:before {

    border: none;

}

.no-skin .nav-list>li .submenu>li>a:hover {

    color: #de531a;

    background-color: #e9f1f3;

}

.no-skin .nav-list>li .submenu {

    background-color: #f4f8f9;

}

.nav-list>li .submenu>li>a {

    padding: 7px 0 9px 40px;

}

.nav-list>li>.submenu li>.submenu>li {

    line-height: 40px;

    text-indent: 26px;

}

.nav-list>li>.submenu li>.submenu>li>a {

    margin-left: 0;

    padding-left: 15px;

    padding-top: 0;

    padding-bottom: 0;

}

.no-skin .nav-list>li>.submenu li>.submenu li.active>a {

    color: #de531a;

    background-color: #e9f1f3;

}

.no-skin .nav-list>li>.submenu li>.submenu li.open>a {

	border-left: 4px solid transparent;

}

.no-skin .nav-list>li .submenu>li.active:not(.open)>a {

    background-color: #232B2D;

    color: #de531a;

}

.no-skin .nav-list>li>.submenu li>.submenu>li a {

    color: #808080;

    padding-left: 20px;

	font-size:12px;

}

.no-skin .nav-list>li .submenu>li.active:not(.open)>a {

    background-color: #e9f1f3;

}

.no-skin .nav-list>li>.submenu li>.submenu>li a:hover {

    color: #de531a;

    background-color: #e9f1f3;

}

.no-skin .nav-list>li>.submenu li.open>a {

    color: #de531a;

}

.no-skin .nav-list>li .submenu>li.active:not(.open)>a:hover {

    background-color: #d3e6fc;

}

.nav-list>li>a{

	height: auto;

}

.nav-list>li>a>.menu-icon{

	vertical-align: middle;

}

.nav-list>li a>.arrow{

	top: 19px;

	right: 20px;

}

.nav-list>li>.submenu a>.arrow {

    right: 20px;

}

.no-skin .nav-list>li.open>a b {

    color: #fff;

}

.no-skin .nav-list>li.active>a, .no-skin .nav-list>li.active>a:hover, .no-skin .nav-list>li.active>a b{

	color: #fff;

}

.menu-calendar{

	display: block;

    padding-top: 20px;	

}

.menu-calendar span {

    float: left;

    padding-left: 20px;

    color: #fefeff;

    line-height: 1em;

    padding-bottom: 12px;

}

.ico-calendar {

	float: left;

    color: #fff;

    font-size: 43px;

    padding-left: 40px;

}

.top-search-wrap{

	/*line-height: 62px;*/

	background-color: #fff;

}

.top-search-wrap input[type="text"] {

	width: 170px;

    height: 30px;

   /* line-height: 22px;*/

   /*  padding-top:10px; */

    border-radius: 4px !important;

    margin: 10px 0 10px 30px;

    padding-left:15px !important;

    color: rgba(51, 51, 51, 0.69);

    background-color: #fff;

    background-image: url("../images/icon_leftmenu_search.png");

    background-repeat: no-repeat;

    background-position:140px center;

}

.ace-nav>li {

    line-height: 80px;

    height: 80px;

    border: none;

}

.ace-nav>li.light-blue>a:hover, .ace-nav>li.light-blue>a:focus, .ace-nav>li.open.light-blue>a {

    background-color: #1A2224;

}

.ace-nav>li.light-blue>a {

    background-color: #0f2341;

}

.user-pic{

	float: left;

	padding-left: 22px;

}

.user-pic img{

	width: 38px;

	height: 38px;

	border-radius: 50%;

    border: 2px solid #fff;

    box-sizing: content-box;

}

.user-text span{

	float: left;

	font-size: 13px;

	padding-top: 20px;

    line-height: 1.7em;

    text-align: left;

    padding-left: 12px;

    color: #CED3D4;

}

.user-text span font{

	color: #8B8C8C;

}

.ico-envelope{

	color: #9FA6AE;

	font-size: 25px;

	padding-left: 15px;

}

.top-message i{

	line-height: 62px;

}

.info-count{

	position: relative;

    color: #FFF;

    background: #FF1100;

    padding: 1px 5px;

    border-radius: 50%;

    right: 13px;

    top: -15px;

    font-size: 14px;

}

.top-exit{

}

.top-exit i{

	line-height: 62px;

	color: #9FA6AE;

	font-size: 25px;

	padding-right: 20px;

	padding-left: 18px;

	

}



/*otd*/



.table_options_config { border: 1px solid #e2e5ec; background: #f6f9fb;}

.table_options_config .checkbox-inline { width: 120px; color: #3a4041; margin-bottom: 15px;}

.table_options_config .button_div { margin-bottom: 10px; text-align: right;}

.table_options_config .button_div .btn-sm , #groupSearch .btn{padding: 0 12px; font-size: 14px; line-height: 22px; text-shadow: none ! important; background: #de531a !important;}

.table_options_config .button_div .btn-sm {padding: 0 12px; font-size: 14px; line-height: 22px; text-shadow: none ! important; background: #de531a !important;}

.table_options_config .button_div .btn:hover { background: #00aff0 !important;}

.three_box_div { overflow: hidden;}

.three_box_div .waybillinfo_box { float: left; width: 30%; padding: 0;}

.three_box_div .waybillalarm_box { float: left; width: 30%; padding: 0;}

.three_box_div .current_site_box { float: left; width: 30%; padding: 0; }

.three_box_div .waybillinfo_box .col-sm-10, .three_box_div .waybillalarm_box .col-sm-12, .three_box_div .current_site_box .col-sm-12 { width: 100%; padding: 0;}

.three_box_div .waybillinfo_box .widget-box .widget-header, .three_box_div .waybillalarm_box .widget-box .widget-header,  .three_box_div .current_site_box .widget-box .widget-header{ padding-left: 15px; font-size: 14px; color: #fff; background: #7f8fa7; min-height: 0px; height: 30px;}

.three_box_div .waybillinfo_box .widget-box .widget-header .widget-title, .three_box_div .waybillalarm_box .widget-box .widget-header .widget-title,  .three_box_div .current_site_box .widget-box .widget-header .widget-title { line-height: 30px;}

.three_box_div .waybillinfo_box .widget-box .widget-main, .three_box_div .waybillalarm_box .widget-box .widget-main, .three_box_div .current_site_box .widget-box .widget-main { padding: 0; overflow: hidden;}

.three_box_div .waybillinfo_box .widget-box .widget-main .form-group { margin: 0;}

.three_box_div .waybillinfo_box .widget-box .widget-main .form-group:nth-child(2n) { background:  #f6f9fb;}

.three_box_div .waybillinfo_box .widget-box .widget-main .form-group:nth-child(2n+1) { background:  #eef1f6;}



.waybillinfo_box label { line-height:34px;}



.alarm-box { font-size: 14px;}

.alarm-box .alarm-list { position: relative; padding: 0 15px; background: #eef1f6;}

.alarm-box .alarm-list .line { position: absolute; top: 30px; left: 15px; z-index: 2; width: 2px; height: 60px; background: #ccc;}

.alarm-box .alarm-list .state { position: absolute; top: 50%; left: 8px; z-index: 3; width: 16px; height: 16px; margin-top: -8px; border-radius: 50%; background: #ccc;}

.alarm-box .c2Span:nth-child(2n) .alarm-list{ background:  #f6f9fb;}

.alarm-box .c2Span:last-child .line { display: none;}

.alarm-box .over .line { background: #de531a;}

.alarm-box .over .state { background: url(../images/icon_over.png) no-repeat;}

.alarm-box .wait .state { background: url(../images/icon_wait.png) no-repeat;}

.alarm-box .alarm-light { background: #f6f9fb;}

.alarm-box .alarm-list .column { position: relative; height: 60px; padding-left: 15px;}

.alarm-box .alarm-list .column .name { position: absolute; left: 15px; color: #3a4041; line-height: 60px;}

.alarm-box .alarm-list .column .fettle { position: relative; padding-top: 25px; margin-left: 70px;}

.alarm-box .alarm-list .column .fettle .rate { height: 10px; background: #d0d4dd;}

.alarm-box .alarm-list .column .fettle .rate span { display: block; width: 50%; height: 10px;}

.alarm-box .alarm-list .column .pro1 .rate span { background: #de531a;}

.alarm-box .alarm-list .column .pro2 .rate span { background: #99cc66;}

.alarm-box .alarm-list .column .pro3 .rate span { background: #fdc26c;}

.alarm-box .alarm-list .column .fettle .total { color: #3a4041; text-align: center; line-height: 20px;}

.alarm-box .alarm-list .column .fettle .active { position: absolute; top: 5px; left: 50%; width: 22px; margin-left: 6px; color: #de531a; line-height: 20px; text-align: center;}

.alarm-box .alarm-list .column .fettle .icon-active { position: absolute; top: 10px; left: 50%; width: 8px; height: 11px; margin-left: -4px; background: url(../images/icon_active.png) no-repeat;} 

.alarm-box .alarm-list .column .pro1 .active { color: #de531a;}

.alarm-box .alarm-list .column .pro2 .active { color: #99cc66;}

.alarm-box .alarm-list .column .pro3 .active { color: #fdc26c;}

.alarm-box .alarm-list .column .fettle .before { position: absolute; top: 5px; left: 50%; width: 100px; margin-left: -110px; color: #de531a; line-height: 20px; text-align: right;}



/*7.3*/

.nav-list>li>.submenu li>.submenu>li a .arrow { width: auto !important;}

.nav-list>li>.submenu li>.submenu>li>.submenu>li>a { margin-left: 0px; padding-left: 28px;}

.condition_div .level_search { padding-top: 15px;}







#endAreaWrapper,#startAreaWrapper { padding-right: 0px;}





.nav>li.disabled>a { color: #000;}



.widget-toolbar .grid-btn,.widget-toolbar .btn-nl { padding: 0; margin-right: 8px; line-height: 37px;}

.widget-toolbar .grid-btn i,.widget-toolbar .btn-nl i { float: left; margin-top: 12px; margin-right: 6px; font-size: 14px !important;}

#newGroup1 .nav-tabs,#newGroup .nav-tabs { margin-left: 15px;}

#newGroup1 .tab-content > .tab-pane { border: none;}



/*7.5*/

.ui-jqgrid-btable .ui-widget-content.ui-state-highlight { background: #ffffff;}

.ui-jqgrid tr.ui-state-highlight.ui-row-ltr td { border: 1px #cedce2 solid;}

.widget-title { font-size: 14px; font-weight: bold;}

.condition_box .form-control, #groupSearch .form-control { height: 22px; padding: 0 !important; font-size: 12px;}

.condition_box .form-group, #groupSearch .form-group { margin: 0 0 10px 0;}

.condition_box .al-control-label, #groupSearch .al-control-label { padding: 0; margin: 0;}

.condition_box .input-group-addon, #groupSearch .input-group-addon { padding: 0 12px;}

#groupSearch .col-sm-2 {padding-top: 31px !important;}

/* .condition_box .form-control { height: 22px; padding: 0 !important; font-size: 12px;} */

/* .condition_box .form-group { margin: 0 0 10px 0;} */

/* .condition_box .al-control-label { padding: 0; margin: 0;} */

/* .condition_box .input-group-addon { padding: 0 12px;} */



/*7.14*/

.nav-list>li .submenu>li>a {

	padding: 9.5px 0 9.5px 30px;

}



.no-skin .nav-list>li .submenu>li>a {

	font-size: 14px;

}



.nav-tabs>li>a {

	height: 26px !important;

	padding: 0 12px;

	background:#f9fcfe;

}

.nav-tabs>li>a:hover{

	border:1px #cedce2 solid;

}



.tab-content {

	padding-top: 37px !important;

}



.condition_div .search_div .btn-sm { font-size: 14px; line-height: 22px;border-radius: 4px;}

.ui-jqgrid .ui-jqgrid-labels th { height: 30px;}

.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td { padding:4px; color:#666; border:1px #cedce2 solid;}





.footer .footer-inner .footer-content .bigger-120 .bolder { font-size: 12px;}

.footer .footer-inner .footer-content { padding: 0;}

.widget-main .form-control { height: 24px; padding: 0; font-size: 12px; line-height: 22px;}

.widget-main .c2-textarea { height: auto;}

.widget-main .al-control-label { padding-top: 0;}

.widget-main .form-group div { padding: 0 !important;}

.widget-main .input-group-addon { padding: 0 5px;}

.widget-toolbar .btn-success, .widget-toolbar .btn-warning { font-size: 12px; line-height: 22px;}



.standardDiv input { height: 22px; padding: 0; font-size: 12px; line-height: 22px;}



.standardDiv select { height: 22px; padding: 0; font-size: 12px; line-height: 22px;}



.standardDiv label { font-size: 13px;} 



.condition_div .search_div1 { padding: 0; text-align: right;}

.condition_div .search_div2 { padding: 0 10px 0; text-align: right;}

.nav-tabs .tab-hidden-tigger { line-height: 27px;}



.sidebar.sidebar-fixed:before { background: #f4f8f9;}



.complainantDiv .form-control { height: 22px; padding: 0 12px;}



.standardDiv .control-label { padding-top: 1px;}



.standardDiv .input-group-addon { padding: 0 12px;}



.condition_div { margin-bottom: 10px;}







.validCss .form-control{width:95%;}



.span_Center span{ height: 22px; padding: 0; font-size: 12px; line-height: 22px; color: #858585; text-align: center !important;}



.ui-widget-content { width: 100% !important;}



.main-content { margin-right: 15px; background:#f9fcfe;}



.nav-tabs { margin-right: 15px;}



.provience_div div {padding: 0 !important;}



.standardItem_div input { padding: 0;}



.standardItem_div select { height: 23px; line-height: 23px;}



.standardItem_div select { height: 23px; padding: 0; line-height: 23px;}



.nav-tabs .tab-hidden-tigger { line-height: 25px;}



.tab-content > .tab-pane .tab-content > .tab-pane { border: none;}



.float_right button {float:right; margin:10px;}



.set_visible_hidden {visibility:hidden;}

.set_visible {visibility:visible;}

.tab-content > .tab-pane .tab-content > .tab-pane { border: none;}



.ui-select-match .form-control { height: 22px !important;}



.c2-ui-select > .ui-select-container {

    min-height: 0px;

}





.fix_bottom { 

	padding-top: 31px !important;

}



#hintList {

	display:none;

	position:absolute;

	background:white;

	width:170px;

	border:0.5px solid gray;

	z-index:5000;

	font-size:14px;

	top: 40px;

	left: 30px;

}

#hintList div {

	position:relative;

	right:0px;

	top:0px;

}



#hintList div ul li {

	margin:0;

	padding:0;

	line-height:20px;

}



#hintList div li {

	line-height:35px;

}



.ul-top {

	padding-top:10px;

}

.top-search-wrap.active{

	display: none;

}

.hover { cursor: pointer !important;}



.dropdown-menu { min-width: auto;}



.charge_div .control-label { padding-top: 0;}

.charge_div .form-control { height: 22px; padding: 0;}

.charge_div .charge_btn .btn-success { display: block;}

.charge_list .ui-jqgrid tr.jqgrow td { white-space: normal;}





.charge_btn .btn-success,.charge_btn .btn-warning { padding: 0 15px; font-size: 12px; line-height: 20px; text-shadow: none !important;  background: #de531a !important;}

.charge_btn .btn-success:hover,.charge_btn .btn-warning:hover { background: #00aff0 !important;}





.si_leftOffset {

	margin-left:-40px;

}

.si_name_input_width{

	width:328px;

}

//必填项的星号

.required-label { position: relative;}

.required-label:after {

  content: "*";

  position: absolute;

  top: 4px;

  right: -3px;

  color: red;

}

.required-label { font-weight: normal;}

.table_show_pages .ui-pg-table td:nth-child(2) { width:0;}



.table_show_pages .ui-pg-table td:last-child div { display:none;}



.tab-content {

	  border: 1px solid #ffcab4;

	  //padding-top: 20px !important; 

	

}



.tab-content .tab-content { padding-top: 0 !important;}



.tab-content .tab-content .ui-userdata .pull-right { float: left !important;}





.complainant_but a {margin-left:20px;}





.ui-jqgrid tr.ui-row-ltr td.txtLeft{text-align:left !important;}

.footer .footer-inner .footer-content { right: 0; left: 0;bottom: 0}



.tab-pane { padding-top: 50px;}

.widget-toolbox  { position: fixed; z-index: 99; top: 117px; background: #f9fcfe; width:77%; }





.layui-layer {

	border: 1px solid #ffcab4;

	border-radius: 6px !important;

	overflow: hidden;

}

.layui-layer-title {

	padding: 0 15px;

	font-size: 16px;

}

.layui-layer-title .title-number {

	top: 12px;

	left: auto;

	height: 18px;

	padding: 0 10px;

	margin-left: 10px;

	font-size: 12px;

	color: #fff;

	line-height: 18px;

	border-radius: 18px;

	background: #de531a;

}

.layui-layer-page .layui-layer-content {

	padding: 0 15px;

	font-size: 12px;

	line-height: 24px;

}

.layui-layer-btn .layui-layer-btn0 {

	background-color: #00aff0;

}



.nav-tabs>li {

    /*background-color: #00aff0;*/

}

.ui-jqgrid-hdiv .ui-jqgrid-htable {

    border-top: 1px solid #cedce2;

}





.fa-angle-double-left:before {

    content: "\f100";

    color: #333;

}

.form-control, select {

    border: 1px solid #9b9b9b;

}

.form-group.has-error input, .form-group.has-error select, .form-group.has-error textarea {

    border-color: #157cc8;

  

}

.form-group.has-error input, .form-group.has-error select, .form-group.has-error textarea {

    border-color: #fb0101;

}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {

    border: 1px solid #9b9b9b;

}



textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus{-webkit-box-shadow:none;box-shadow:none;color:#696969;border-color:#5c5c5c;background-color:#fff;outline:none}

.btn-default-focus{}

.form-group.has-error input:focus, .form-group.has-error select:focus, .form-group.has-error textarea:focus{border:1px #5c5c5c solid;}

.form-control:focus,select:focus{border:1px #5c5c5c solid;}

.ui-jqgrid-btable .ui-widget-content.ui-state-hover{color:#000;}



.form-control, input {

    border: 1px solid #9b9b9b;

}

.modal-header h4 {

    padding-left: 15px;

}

button.modal-close {

    position: absolute;

    right: 15px;

    top: 4px;

    font-size: 32px;

}

/*下拉框*/

select:focus option:hover{

 color: #666;

 background-image:linear-gradient(#f0f7ff , #f0f7ff );

}

select:focus option:checked {

   color: #333;

   background-image:linear-gradient(#d3e6fb , #d3e6fb );

}

/*单选*/



/*多选*/





.light-blue {

    color: #fff!important;

    font-size: 14px;

}



.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {

    border-top: 0;

}



.modal-body {

    padding: 0px;

    margin: 20px 30px;

}

.ui-select-choices-row:hover {

    background-color: #F0F7FF;

}

.ui-select-bootstrap .ui-select-choices-row.active > a {

    color: rgb(255, 255, 255);

    text-decoration: none;

    background-color: #D3E6FB !important;

    outline: 0px;

}

.ui-jqgrid tr.ui-row-ltr td:nth-child(1){

	text-align:center !important;

	    width: auto !important;

	        padding-left: 9px !important;

    padding-top: 8px !important;

}

.ui-jqgrid-btable .jqgrow.ui-priority-secondary {

    background-color: #FFF;

}

.li-hover li:hover{

	color:#de531a;

}

.ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td,.ui-th-div.ui-jqgrid-sortable{

	text-align: left !important;

}



.ui-select-bootstrap .ui-select-choices-row>a {

	    padding: 2px 10px !important;

}



.ui-jqgrid .ui-jqgrid-htable thead th {

    padding-right: 6px !important;

}



.layui-layer-btn .layui-layer-btn0 {

    color: #fff !important;

    border-color: #ab3200 !important;

    background-color: #de531a !important;

}

.ui-jqgrid .ui-jqgrid-htable .ui-th-div {

    margin-left: -7px !important;

}



.page-content {

    background-color: #f9fcfe;

}

.ui-jqgrid .ui-jqgrid-bdiv {

	margin:0;

}

.main-container:before {

    background-color: #f9fcfe;

}

.ils-close{

	background: url(../images/turn-off.png) no-repeat center;

}

.tab-nav-item .fa-times:before{

	opacity:0;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

}